@font-face {
    font-family: "Norse Bold";
    src: url("./Norse-Bold.otf");
}

body {
    font-family: "Norse Bold";
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1 {
    color: white;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.side-hero {
    outline: 2px solid red;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(./side-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100vh;
}
