@font-face {
    font-family: "Norse Bold";
    src: url("./Norse-Bold.otf");
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Norse Bold", sans-serif;
}

.container {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
}

.left-section {
    background-image: url("/side-img.jpg");
    background-repeat: no-repeat;
}

.logo {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    margin: 0;
    margin-top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo img {
    width: 30%;
}

.logo h1 {
    color: white;
    font-size: 6rem;
}
