@font-face {
    font-family: "Norse Bold";
    src: url("./Norse-Bold.otf");
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.side-hero {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(./side-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100vh;
}

.logo {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    margin: 0;
    margin-top: ;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo img {
    width: 30%;
}

.logo h1 {
    color: white;
    font-family: "Norse Bold";
    font-size: 6rem;
}

.side-form .filler-text {
    font-weight: bolder;
}